{% extends '@JasderoPassePlat/layout.html.twig' %}
{% block passe_plat_content %}
    <h1 class="center-align">Bienvenue sur le service de commandes de Bonjour +</h1>
    <div class="container">
        <div class="row">
            <div class="col s5">
                <h2>Se connecter</h2>
                <div>{{ render(controller('FOSUserBundle:Security:login')) }}</div>
            </div>
            <div class="col s6 offset-s1">
                <h2>Créer un compte</h2>
                <div class="form inline">{{ render(controller('FOSUserBundle:Registration:register')) }}</div>
            </div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <h3><a href={{ path('checking') }}>Accéder à la zone d'administration</a></h3>
        {% elseif is_granted('ROLE_USER') %}
            <h3><a href={{ path('orders_creator') }}>Passer commande</a></h3>
        {% else %}
            <h3>Créer un compte ou se connecter pour pouvoir commander</h3>
        {% endif %}
    </div>
{% endblock %}
